<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | Home Page</title>
</head>
<body>
    <h1>NLP APP</h1>
    <fieldset style="width: 400px;"> 

    <form action="/ner" method="post">
        <input type="submit" value="Name Entity Recognization" style="padding: 10px, 20px;">
    </form><br>

    <form action="/sentiment" method="post">
        <input type="submit" value="Sentiment Analysis" style="padding: 10px, 20px;">
    </form><br>
    
    <form action="/emotion" method="post">
        <input type="submit" value="Emotion Detection" style="padding: 10px, 20px;">
    </form><br>

    </fieldset>
</body>
</html>